services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend1
      - backend2

  backend1:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend/server_1/server.py:/app/server.py

  backend2:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend/server_2/server.py:/app/server.py
